@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* nav bar */
.navbar{
    background-color:#885281;
    color: rgb(161, 103, 149);
    height: 125px;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 1;
    opacity: 0.75;
    font-family: 'Barlow Condensed', sans-serif;

}
.nav .list{
    float: right;
    list-style-type: none;
    display: inline-block;
    padding: 50px 20px;
    
}
.nav .list:hover{
    color: rgb(71, 173, 71);
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
    opacity: 1;
    float: right;

}

/* About content */
.google-map{
    padding-top: 15%;
    padding-right: 2.5%;
    float: right;
    font-family: 'Barlow Condensed', sans-serif;
}
/* .google map{
    position: absolute;
    top: 20%;
    left: 20%;} */
.hmong-video2{ 
    padding-top: 15%;
    padding-left: 2.5%;
    float: left;
    font-family: 'Barlow Condensed', sans-serif;

}
.twitter-feed2{
    padding-top: 50%;
    padding-left: 2.5%;
    font-family: 'Barlow Condensed', sans-serif;

}

/* Gallery
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid rgb(37, 150, 47);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  } */

 /* Footer */
.list item{
        float:right;
        margin-right:15px;
        margin-top:20px;
        
    }
.footer-contact1{
        color: rgb(20, 19, 19);
        font-size: 18px;
        list-style-type: none;
        line-height: 28px;
        position: absolute;
        left: 25%;
        font-family: 'Barlow Condensed', sans-serif;
    }
.footer-contact2{
        color: rgb(20, 19, 19);
        font-size: 18px;
        list-style-type: none;
        line-height: 28px;
        position: absolute;
        left: 50%;
        font-family: 'Barlow Condensed', sans-serif;
    }
.footer-cr{
        /* position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Barlow Condensed', sans-serif; */
        color: rgb(20, 19, 19);
        font-size: 18px;
        list-style-type: none;
        line-height: 28px;
        position: absolute;
        right: 20%;
        font-family: 'Barlow Condensed', sans-serif;
    }
.footer{
        padding: 5%;
        position: relative;
        background-color: #c772a6;
    
    }
    