@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{margin: 0;}
.header{
    background-color: #c772a6;
    padding: 200px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
  }
.navbar{
    background-color:#b9c6ce;
    color: white;
    height: 125px;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 1;
    opacity: 0.75;
    font-family: 'Barlow Condensed', sans-serif;

}
.nav .list{
    float: right;
    list-style-type: none;
    display: inline-block;
    padding: 50px 20px;
    
}
.nav .list:hover{
    color: rgb(71, 173, 71);
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
    opacity: 1;
    float: right;

}

.main{
    float: left;
    /* width: 30%; */
    margin: 30px;
    border: 2px solid #000;
    background-color: rgb(177, 84, 138);
    padding: 10px;  
    font-family: 'Barlow Condensed', sans-serif;
}
/* Image gallery */
.akha-gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
  }
  .akha-gallery:hover{
    border: 1px solid rgb(63, 156, 79);
  }
  .akha-desc{
      padding: 15px;
      text-align: center;
      font-family: 'Barlow Condensed', sans-serif;
  }
.hmong-video{
    padding: auto;
    float: right;
 
}

.footer-twitter{
    position: relative;
}

.section-image{
    position: absolute;
   

}
/* .image{
    background-image: url(../img/hmongakha.jpeg);
} */
.list item{
    float:right;
    margin-right:15px;
    margin-top:20px;
    
}
.footer-contact1{
    color: rgb(20, 19, 19);
    font-size: 18px;
    list-style-type: none;
    line-height: 28px;
    position: absolute;
    left: 25%;
    font-family: 'Barlow Condensed', sans-serif;
}
.footer-contact2{
    color: rgb(20, 19, 19);
    font-size: 18px;
    list-style-type: none;
    line-height: 28px;
    position: absolute;
    left: 50%;
    font-family: 'Barlow Condensed', sans-serif;
}
.footer-cr{
    /* position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Barlow Condensed', sans-serif; */
    color: rgb(20, 19, 19);
    font-size: 18px;
    list-style-type: none;
    line-height: 28px;
    position: absolute;
    right: 20%;
    font-family: 'Barlow Condensed', sans-serif;
}
.footer{
    padding: 5%;
    position: relative;
    background-color: #c772a6;

}
